{% extends 'management/base.html' %}

{% block title %}
    <title>ویرایش {{ comment.title }}</title>

{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="alert alert-primary">ویرایش نظر</h1>
        <br>


        <form method="POST">
            {% csrf_token %}
            <label class="alert alert-info" for="id_title">برای پست : </label>
            <br>
            {{ form.post }}
            <br>
            <hr>

            <label class="alert alert-info" for="id_title">نام : </label>
            <br>
            {{ form.name }}
            <br>
            <hr>

            <label class="alert alert-info" for="id_title">ایمیل : </label>
            <br>
            {{ form.email }}
            <br>
            <hr>

            <label class="alert alert-info" for="id_title">متن : </label>
            <br>
            {{ form.text }}
            <br>
            <hr>

            <label class="alert alert-info" for="id_title">پاسخ به : </label>
            <br>
            {{ form.parent }}
            <br>
            <hr>

            <label class="alert alert-info" for="id_title">فعال : </label>
            {{ form.active }}
            <br>

            <input type="submit" value="ذخیره" class="btn btn-primary">
            <br>
            <br>
        </form>
    {% else %}
        <h1>خطا رخداده است!</h1>
        <h3>لطفا دوباره وارد سایت شوید</h3>
    {% endif %}

{% endblock %}